.header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: white;
    margin: 0;
    padding: 10px;
}
.header h3{
    color: blueviolet;
    font-size: x-large;
}
.header img{
    height: 8vw;
}
.header a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vw;
    width: 11vw;
    border-radius: 50%;
}