
.grid-container {
  width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
  }
  .grid-item {
    text-align: center;
    align-self: center;
  }

.backbutton{
  position: relative;
  color: white;
  display: flex;
  background-color: #703ACF;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}
.cart_header{
  position: relative;
  justify-content: space-between;
}
.cart_header h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 45%;
}